table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 5px;
  color: white;
  font-size: 1.125rem;
  text-transform: uppercase;
  line-height: 1rem;
}

.label {
  font-weight: bold;
  text-align: right;
}
